.fc-recurrency_icon {
    width: 15px;
    height: 15px;
    float: right;
    background-size: contain;
    background-image: url('/project_resource_calendar/static/src/images/recurent.png');
}

.o_field_recurrency_icon {
    visibility: hidden;
}
