.dt-report-10 {
    width: 10%;
    float: left;
    text-align: center;
}

.dt-report-50 {
    width: 50%;
    float: left;
    text-align: center;
}

.dt-report-20 {
    width: 20%;
    float: left;
    text-align: center;
}

.dt-report-left-80 {
    width: 80%;
    float: left;
    text-align: left;
}

.dt-left_align {
    width: 25%;
    float: left;
    text-align: left;
}

.dt-center_align {
    width: 50%;
    float: left;
    text-align: left;
}

.dt-right_align {
    width: 25%;
    float: left;
    text-align: left;
}

.h3-report {
    color: white;
    background-color: #000000;
}
.report-footer {
    position: relative;
    margin-top: 250px;
}

.no_decoration_list_style {
    list-style: none;
}
